.Input {
    padding: 9px 35px 9px 9px;
    border: 2px solid var(--grey-light);
    background-color: transparent;
    color: var(--black);
    font-size: 1.1rem;
    outline-offset: 2px;
}

.Input::placeholder {
    color: var(--grey-medium);
}

.is-active Input {
    border-color: var(--grey-medium);
}