.Button {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.Button[type=submit] {
    background-image: url('../../static/search.svg');
    background-size: 2.4rem;
    background-repeat: no-repeat;
    background-position: center;

}

.Button[type=reset] {
    background-image: url('../../static/close.svg');
    background-size: 2.1rem;
    background-repeat: no-repeat;
    background-position: center;

}