.Search {
    display: inline-flex;
    position: relative;
}

.Search-button {
    width: 3.5rem;
    height: calc(100% - 4px);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.Search-button--reset {
    right: 3.5rem;
}

.is-invisible {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;;
}