.Search {
    display: inline-flex;
    position: relative;
}

.Search-button {
    width: 3.5rem;
    height: calc(100% - 4px);
    background-image: url('../../static/search.svg');
    background-size: 2.4rem;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}